@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
    <base href="/" />
    @* Webflow CSS *@
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/webflow.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/minimal-goods.webflow.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()

    @* Webflow JS *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/webflow.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
